:root {
  --color-brand: #ec1115;
  --color-primary: #343541;
  --color-secondary: #85868d;
  --color-rose: #fef6f6;
  --color-red: #f47073;
  --color-background: #ffffff;
  --color-error: #cc0000;
}
