@mixin media-sm {
  @media (max-width: 839px) {
    @content;
  }
}
@mixin media-md {
  @media (min-width: 840px) {
    @content;
  }
}
@mixin media-lg {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin input {
  background-color: #f7f7f7;
  border: 0;
  padding: 17.5px 24px;
  max-width: 100%;

  border-radius: 8px;

  &:hover {
    background-color: #eaeaea;
  }

  &::placeholder {
    color: var(--color-secondary);
  }

  &:focus,
  &:focus-visible {
    outline: none;
    border: 2px solid #2f80ed;
    background-color: #ebf3fe;
  }
}
